﻿@charset "utf-8";
body{
	font-family: "Times New Roman", Times, serif;
	background: #fff url(../images/bg.jpg) repeat top left;
	font-weight: 400;
	font-size: 15px;
	color: #1d3c41;
	width: 90%;
	margin:40px auto;
	padding:20px;
	overflow-y: scroll;
}
 
#classFile {
	min-width: 900px;
	width:100%;
	padding-right:10px;
	padding-top:10px;
}

.methodinfo{
	margin-bottom:10px;	
}

#methods,#fields,#attributes {
	font-weight:bold;
	border: 1px solid rgba(147, 184, 189, 0.8);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(105, 108, 109, 0.7), 0 0 8px 5px rgba(208, 223, 226, 0.4) inset;
	margin-top: 3px;
	padding: 5px 20px 13px 10px;
	border-radius: 10px;
	background: none repeat scroll 0 0 #F7F7F7;
	background: -moz-linear-gradient(0 ,#F7F7F7);
	background: -webkit-linear-gradient(0   ,#F7F7F7);
	background: -o-linear-gradient(0   ,#F7F7F7);
}

.exception{
	border: 1px solid rgba( 184,0, 0, 0.8);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba( 108,0, 0, 0.7), 0 0 8px 5px rgba( 223,0, 0, 0.4) inset;
  	width: 10px;
  	height: 10px;
	float:right;
	border-radius: 30px;
	background: none repeat scroll 0 0 #F70000;
	background: -moz-linear-gradient(0 ,#F70000);
	background: -webkit-linear-gradient(0   ,#F70000);
	background: -o-linear-gradient(0   ,#F70000);
}
.exceptionHandler{
	border: 1px solid rgba(0, 184, 0, 0.8);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 108, 0, 0.7), 0 0 8px 5px rgba(0, 223, 0, 0.4) inset;
  	width: 10px;
  	height: 10px;
	float:right;
	border-radius: 30px;
	background: none repeat scroll 0 0 #00F700;
	background: -moz-linear-gradient(0 ,#00F700);
	background: -webkit-linear-gradient(0   ,#00F700);
	background: -o-linear-gradient(0   ,#00F700);
}

h2, p {
    margin:20px;
    padding:0px;
    font-size:13px;
    font-family:Arial, Helvetica, sans-serif;
}

details,summary{
	width:100%;
}
 
ol, ul, li {
    margin:10px;
    margin-left:7px;
    padding:0px;
    font-size:13px;
    font-family:Arial, Helvetica, sans-serif;
}
			
p.Summary {
    position:relative; /*see the support section below for more info*/
    margin:10px 10px 10px 10px;
    color:#575544;
    font-size:1em;
    letter-spacing:.06em;
    }
	
.code ,table{
	font-family:Consolas;
	font-size:13px;
}

#sourcecode {
	font-weight:bold;
	width:95%;
	border: 1px solid rgba(147, 184, 189, 0.8);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(105, 108, 109, 0.7), 0 0 8px 5px rgba(208, 223, 226, 0.4) inset;
	margin-top: 3px;
	padding: 5px 2px 3px 10px;
	border-radius: 10px;
	background: none repeat scroll 0 0 #F7F7F7;
	background: -moz-linear-gradient(0 ,#F7F7F7);
	background: -webkit-linear-gradient(0   ,#F7F7F7);
	background: -o-linear-gradient(0   ,#F7F7F7);
}

.annotation{
	color: #228B22;
	font-weight:lighter;
	font-style:italic;
	font-size:small;
	fontName: 'Times-Roman';
}
.AccessFlags {
    color: rgba(0, 0, 100, 0.6);
}

.index{
	color: #FFA500;
	min-width:90px;
	}
	
.reservedwords,.verification{
	color: #0000ff;
	}
		
.ConstantValue,.attributename{
	color: #FFA500;
}
a.tooltip{
	color:gray;
}

a.tooltip span { z-index:10;display:none; padding:14px 20px; margin-top:-30px; margin-left:28px;  line-height:16px; }
a.tooltip:hover span{ display:inline; position:absolute; color:#111; border:1px solid #DCA; background:#fffAF0;}
.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}
   /*CSS3 extras*/ 
a.tooltip span { border-radius:4px;
 -moz-border-radius: 4px;
 -webkit-border-radius: 4px;
 -moz-box-shadow: 5px 5px 8px #CCC;
 -webkit-box-shadow: 5px 5px 8px #CCC;
 box-shadow: 5px 5px 8px #CCC;
}

.constantPool {
	word-wrap: break-word;
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(104,171,194,0.5);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 800ms ease-in;
	-moz-transition: opacity 800ms ease-in;
	transition: opacity 800ms ease-in;
	pointer-events: none;
}

.constantPool:target {
	opacity:1;
	pointer-events: auto;
	overflow-y: scroll;
}

.constantPool > div {
    border: 1px solid rgba(147, 184, 189, 0.8);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(105, 108, 109, 0.7), 0 0 8px 5px rgba(208, 223, 226, 0.4) inset;	
	width: 40%;
	min-width:400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: none repeat scroll 0 0 #F7F7F7;
	background: -moz-linear-gradient(0 ,#F7F7F7);
	background: -webkit-linear-gradient(0   ,#F7F7F7);
	background: -o-linear-gradient(0   ,#F7F7F7);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;	
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.constantPoolLink{
    padding:10px 10px;
    margin-top:10px;
    padding-top:20px; 
    /**give the bubble's background a gradient**/
    background:gray; /*fallback colour for non-supporting browsers*/
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#fac868), to(#f3961c));
    background:-moz-linear-gradient(#fac868, #f3961c);
    background:-o-linear-gradient(#fac868, #f3961c);
    background:linear-gradient(#fac868, #f3961c);
    /**give the corners a large curve**/
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    /**add a drop shadow to the bubble**/
    -webkit-box-shadow: -3px 4px 8px #989898;
    -moz-box-shadow: -3px 4px 8px #989898;
    box-shadow: -3px 4px 8px #989898;
    /**style the text**/
    color:black;
    font-size:1em;
    letter-spacing:.06em;
}
.close:hover { background: #00d9ff; }
